body {
    font-family: sans-serif;
    background-color: #313236;
    color: #fff;
    margin: auto;
    max-width: 1280px;
}

footer {
    margin-top: 10px;
    font-size: 7px;
}

.navbar {
    max-width: 1280px;
}

.navbar a {
    color: #aaa;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
}

.navbar a:hover {
    color: #ffffff;
}

.content {
    padding: 20px;
}

input {
    max-width: 40px;
    overflow: auto;
}

form {
    font-family: monospace;
    font-size: 20px;
    overflow: auto;
}

.yay {
    margin-top: 20px;
    font-size: 30px;
}
